@import "../utilities/mixin.scss";
    
header{
    .navbar{
        display: flex;
        position: fixed;
        background-color: rgb(253, 253, 253);
        color: black;
        padding: 0%;
        width: 100%;
        height: 15%;
        align-items: center;
        justify-content: space-between;
        z-index: 3;   

        @include mb{
            height: 13%;  
            margin: 0em;
            justify-content: space-evenly;
        }

        h1{
            font-size: 28px;
            margin: 1em;
            font-weight: 1000;

            @include mb{
                font-size: 20px;
            }
        }

        ul{
            margin: 0.3em;

            li{
                font-size: 20px;
                margin: 1em;
                display: inline-block;
                padding: 0 20px;

                @include mb{
                    display: block;
                    margin: 0em;
                    font-size: 16px;

                }
            }

            li:hover{
                    color: red;
                }
        }

        .redes{
            width: 3.5%;
            padding: 0%;
            margin: 1%;
            display: inline-block; /* Mostrar elementos en línea */
            
            @include mb {
                width: 2em;

            }
        }
    }
}