@import "../utilities/mixin.scss";

section{    
    .slider-Box{
        display: flex;
        overflow: hidden;
        flex-wrap: nowrap;
        padding-top: 5.5em;

        @include mb{
            padding-top: 4em;
            width: 100%;
        }
        
        .elemento{
            flex: 1 0 auto;
            margin: 0em 0 1em 0;
            flex-direction: column;
        
            img{
                position: relative;
                height: 50em;
                width: 100%;
                object-fit: cover;

                @include mb{
                    width: 100%;
                    height: 20em;
                    
                }
            }

            .texto{
                transform: translate(40%, -8em);
                color:red; /* Ajusta el color del texto según sea necesario */
                font-size: 60px; /* Ajusta el tamaño de la fuente según sea necesario */
                font-weight: 600;
                text-align: center;
                width: 650px;
                height: 50px;
                
                @include mb{
                    transform: translate(15%, -425%);
                    font-size: 27px;
                    width: 300px;
                }

                b{
                    color: white;
                }
            }
        }
    }
    .btn{
        display: flex;
        position:absolute;
        top: 60%; /* Ajusta según sea necesario */
        left: 50%; /* Ajusta según sea necesario */
        transform: translate(-45%, 470px);

        @include mb {
            transform: translate(-50%, -476%);
            // z-index: 3;
        }
        
        .btn_item{
            background-color:rgb(255, 255, 255);
            width: 17px;
            height: 17px;
            border-radius: 55%;
            margin: 0em 1.5em 1.3em;
            align-items: center;

            @include mb{
                margin: 1em;
                width: 14px;
                height: 14px;
            }
        }
        .btn_item:hover{
            background-color: red;
            transition: 0.4s ;
            width: 14px;
            height: 14px;
        }
    }
}