@import "../../utilities/mixin.scss";

.articulo_3{
    margin-top: -17em;

    .IMG-Container{

        @include mb{
            // background-color: black;
            width: 50%;
            margin-left: 4.8em;
        }

            ul{    
                display: grid;
                grid-template-columns: repeat(4,200px);
                gap:4em;

                @include mb{
                    grid-template-columns: repeat(1,200px);
                    gap: 0em;
                }
            }
        

        img{
            margin-left: 12em;
            width: 100%;
            height:200px;

            @include mb{
                margin:1em;
                height: 200px;
                
            }
        }
    }
}