@import "../../utilities/mixin.scss";

.articulo_5{
    margin-top: -350px;

    @include mb{
        margin-top: -100px;
    }

    .Com_Container{
        margin:3em 5.5em;   
        background-color: black;
        color: white;
        width: 70em;
        height: 30%;
        display: flex;

        
        @include mb{
            width:  300px;
            margin:0em 3.4em;
        }
    
        li{
            margin: 1.3em;
            color: red;
            font-size: 24px;

            @include mb{
                font-size: 20px;
            }

            p{
                margin:0.5em;
                width: 90%;
                color: white;
                font-size: 17px;

                @include mb{
                    font-size: 15px;
                    margin: 0.3em;
                }
            }
        }
    }
}