@import "../../utilities/mixin.scss";

.articulo_3{
    margin-top: -17em;

    // @include mb{
    //     margin: 1.3em  4%;
    //     height: 50%;
    // }
    .IMG-Container{

            ul{    
                display: grid;
                grid-template-columns: repeat(4,150px);
                // grid-template-rows: 50px;
                gap:2em;

                @include mb{
                    grid-template-columns: repeat(1,150px);
                    gap: 0.5em;
                }
            }
        

        img{
            margin: 2.5em;
            width: 100%;
            width: 250px;
            height:150px;

            @include mb{
                margin:1em;
                
            }
        }
    }
}