@import "mixin.scss";

.BtnInicio{
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    width: 5%;
    border:  2px solid black;

        :hover{
            border: 2px solid red;
        }
    @include mb{
        width: 3em;
        bottom: 1.5rem;
        right: 1.5rem;

    }

}